*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

body {
    height: 100%;
    max-width: 1920px;
}

.header {
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
}

.header_logo {
    margin-left: 27%;
}

.convas_links {
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: #565555;
    font-size: 24px;
}

.convas_links1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 36%;
}

.convas_links_down {
    text-decoration: none;
    color: #565555;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-left: 5%;
    color: #526DB4;
}

.down_convas {
    height: 30%;
}

.menu_links1 {
    width: 24%;
    margin-right: 10%;
}

.menu_links {
    white-space: nowrap;
    text-decoration: none;
    color: #565555;
    font-size: 18px;
}

.contact {
    white-space: nowrap;
}
 
.progress {
    display: none;
    border:0;
    background-color: #FFF;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.progress_icon {
    position: absolute;
    right: 6%;
}

.dropdown-menu {
    border: 0;
    min-width: 106px;
}

.close_btn_canvas {
    position: absolute;
    right: 0%;
    top: 2%;
}

.second_section_title {
    color: #526DB4;
    font-size: 48px;
    font-style: normal;
}

.second_section_subtitle {
    font-size: 32px;
}

.team_members_name {
    width: 91%;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 48px;
	text-align: center;
	color: #000000;
}

.footer {
    background-color: #526DB4;
    padding-bottom: 20px;
}

.footer_logo {
    margin-left: 5%;
    margin-top: 3%;
}

.footer_links {
    text-align: end;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.footer_links:hover {
    color: black;
}

.following {
    max-width: 400px;
}

.footer_text {
    font-size: 24px;
    white-space: nowrap;
    margin: 1rem;
}


@media screen and (max-width:768px) {
    .footer_logo{
        display: flex;
    }
    .p_follow_us {
        display: flex !important;
        justify-content: center !important;
        margin: auto;
    }
}

@media screen and (max-width:992px) {
    .members {
        flex-direction: column;
        font-size: 18.4292px;
    }
    .team_members_name {
        font-size: 27.6438px;
    }
    .second_section_subtitle {
        font-size: 20px;
    }
    .second_section_title {
        font-size: 35px;
    }
    .footer_logo{
        margin-left: -1%;
    }
    .footer_links {
        display: flex;
        flex-direction: column;
        text-align: left !important;
        margin-top: 1%;
    }
    .p_follow_us {
        justify-content: flex-start !important;
        padding-left: 3%;
    }
    .footer_text {
        margin-left: -1%;
    }
    .follow_us_group {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    .progress {
        display: flex;
    }
    .links {
        display: none;
    }
    .header_logo {
        margin-left: 5%;
        width: 80%;
    }
}