*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

body {
    height: 100%;
    max-width: 1920px;
}

.header {
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
}

.header_logo {
    margin-left: 27%;
}

.convas_links {
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: #565555;
    font-size: 24px;
}

.convas_links1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 36%;
}

.convas_links_down {
    text-decoration: none;
    color: #565555;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-left: 5%;
    color: #526DB4;
}

.down_convas {
    height: 30%;
}

.menu_links1 {
    width: 24%;
    margin-right: 10%;
}

.menu_links {
    text-decoration: none;
    color: #565555;
    font-size: 18px;
}

.contact {
    white-space: nowrap;
}
 
.progress {
    display: none;
    border:0;
    background-color: #FFF;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.progress_icon {
    position: absolute;
    right: 6%;
}

.dropdown-menu {
    border: 0;
    min-width: 106px;
}

.close_btn_canvas {
    position: absolute;
    right: 0%;
    top: 2%;
}


.contact_subtitle {
    font-size: 40px;
}

.ready {
    padding: 5rem;
}

.emails {
    margin: 0 auto;
}

.email_adress {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.contact_first_section {
    margin: 5% 0;
}

.map {
    height: 100%;
    width: 100%;
}

.footer {
    background-color: #526DB4;
    padding-bottom: 20px;
}

.footer_logo {
    margin-left: 5%;
    margin-top: 3%;
}

.footer_links {
    text-align: end;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.footer_links:hover {
    color: black;
}

.following {
    max-width: 400px;
}

.footer_text {
    font-size: 24px;
    white-space: nowrap;
    margin: 1rem;
}



@media (max-width:768px) {
    .footer_logo{
        display: flex;
    }
    .p_follow_us {
        display: flex !important;
        justify-content: center !important;
        margin: auto;
    }
}

@media (max-width:992px) {
    .footer_logo{
        margin-left: -1%;
    }
    .footer_links {
        display: flex;
        flex-direction: column;
        text-align: left !important;
        margin-top: 1%;
    }
    .p_follow_us {
        justify-content: flex-start !important;
        padding-left: 3%;
    }
    .footer_text {
        margin-left: -1%;
    }
    .follow_us_group {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    .content {
        flex-direction: column-reverse;
    }
    .map {
        height: 400px;
    }
    .contact_first_section {
        width: 60%;
        margin: auto;
        font-family: poppins;
        font-weight: 500;
        margin-top: 5%;
        padding-bottom: 5%;
    }
    .ready {
        padding: 0;
    }
    .progress {
        display: flex;
    }
    .links {
        display: none;
    }
    .header_logo {
        margin-left: 5%;
        width: 80%;
    }
    .contact_subtitle {
        white-space: nowrap;
        font-size: 7vw;
        margin-left: -15%;
    }  
}
    