*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

body {
    height: 100%;
    max-width: 1920px;
}

.header {
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
}

.header_logo {
    margin-left: 27%;
}

.convas_links {
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: #565555;
    font-size: 24px;
}

.convas_links1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 36%;
}

.convas_links_down {
    text-decoration: none;
    color: #565555;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-left: 5%;
    color: #526DB4;
}

.down_convas {
    height: 30%;
}

.menu_links1 {
    width: 24%;
    margin-right: 10%;
}

.menu_links {
    white-space: nowrap;
    text-decoration: none;
    color: #565555;
    font-size: 18px;
}
 
.progress {
    display: none;
    border:0;
    background-color: #FFF;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.progress_icon {
    position: absolute;
    right: 6%;
}

.dropdown-menu {
    border: 0;
    min-width: 106px;
}

.close_btn_canvas {
    position: absolute;
    right: 0%;
    top: 2%;
}

/* Showcase */
.first_section {
    background-image: url(../img/first-section.png);
    background-size: cover;
}

.first_girl {
    left: 0;
    height: 95%;
}

.first_girl1 {
    position: absolute;
    left: 0;
    height: 95%;
    bottom: 0;
}

.first_minds {
    width: 43.95%;
}

.english_first_minds {
    margin-left: 25%;
    width: 79%;
}

.minds_text1 {
    font-size: 3.3vw;
    color: #A1B61A;
    font-weight: 600;
}

.minds_text2 {
    font-size: 1.7vw;
    width: 61%;
    margin-left: 19%;
}

.english_minds_text {
    transform: translate(13%, -164%);
}

.phones_1 {
    width: 28.55%;
}

.phones_1_english {
    width: 28.55%;
    margin-top: 10%;
    margin-right: -3%;
}

.right_section {
    width: 89%;
}

.right_section>div {
    display: flex;
    align-items: center;
    justify-content: end;
}

.right_section>div:last-child {
    width: 55%;
    margin-bottom: 2%;
    margin-left: auto;
}

.download_cont {
    width: 27% !important;
    margin-bottom: 5% !important;
}

.right_section_p {
    width: 103%;
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: #464646;
}

.second_section {
    margin-top: 180px;
}

.second_section_title {
    font-size: 30px;
}
.second_mobile_minds {
    margin-bottom: -32%;
}

.second_section_subtitle {
    margin-top: 40px;
    font-size: 18px;
    color: #464646;
}
.third_section {
    margin-top: 10%;
    background-image: linear-gradient(#fff 60%, #8258A6 39%);
    display: flex;
    justify-content: start;
    position: relative;
    padding-top: 8%;
}

.second_girl {
    width: 45.26%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.third_section_phones {
    width: 30.26%;
    margin: 0 -5% 0 8%;
}

.second_minds {
    width: 42.03%;
    transform: translate(-3%, -58%);
}

.third_section_text {
    width: 56%;
    font-size: 1.5vw;
    position: relative;
    bottom: 3%;
    padding-left: 8%;
}

.fourth_section {
    margin-top: 10%;
    background-image: linear-gradient(#fff 60%, #DD7C32 39%);
    justify-content: start;
    position: relative;
    padding-top: 8%;
}

.third_girl {
    width: 40.156%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.phone_center {
    width: 16.7%;
}

.phones {
    width: 38.45%;
    margin-left: 61%;
    margin-top: 2%;
}

.minds_3 {
    width: 35.85%;
    margin-bottom: -13%;
    margin-top: -18%;
}

.right_section1 {
    justify-content: center;
    align-items: start;
    margin-right: 5%;
}

.four_text {
    width: 41%;
    font-size: 1.6vw;
    color: #fff;
    margin-left: auto;
}


.fifth_section {
    padding-top: 10%;
}

.background_five {
    background-size: cover;
    background-image: url(../img/background_five.png)
}

.five_down_section {
    background-color: #526DB4;
}

.minds_cont {
    width: 27%;
    z-index: 1000;
    right: 58%;
    top: 3%;
}

.mind_text {
    width:50.87%;
}

.mind_text {
    right: 26%;
    top: 29%;
}

.four_girl {
    width: 43.54%;
    margin: auto ;
}

.five_text {
    margin: 3% 0;
    color: #FFF;
    font-size: 2.3vw;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
}

.sixth_section {
    background-image: url(../img/background_six.png);
    padding: 3%;
    background-size: contain;
    background-position: top;
    margin-top: 4%;
    background-repeat: no-repeat;
}

.six_text {
    line-height: 96px;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0em;
    margin: 15px;
    text-align: start;
}

.six_text2 {
    width: 80%;
    font-family: Poppins;
    font-size: 1.7vw;
    font-weight: 400;;
    letter-spacing: 0em;
}

.english_bento_logo2 {
    width: 56.60%;
}

.girls_list {
    max-width: 1920px;
    width: 100%;
    height: auto;
}

.vector {
    transform:translateX(-50%);
    left: 50%;
    z-index: 1000;
    width: 6.155%;
}

.phones_section > div {
    margin-top: 20px;
}

.phones_section_p {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #464646;
}

.phone_text1 {
    color: #EAA92F;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
}

.phone_text2 {
    color: #EAA92F;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: right;
}

.phone_text3 {
    color: #464646;
    font-size: 1.25vw;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: end;
    width: 83%;
}

.phones_bg {
    width: 41.7%;
    background-image: url(../img/headphone_2.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 0%;
    background-size: 82.1%;
}

.phones_bg_2 {
    margin-right: 13%;
}

.phones_bg > img {
    margin-left: -5%;
    position: absolute;
    top: 0;
}

.head_container {
    width: 18%;
}

.head_container1 {
    width:17.2%;
}

.img_container {
    width: 55.8%;
    transform: translate(-50%, 0);
}

.img_container2 {
    width: 57.3%;
    transform: translate(76%, 0);
}

.phone_text1_2 {
    color: #B8D137;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: right;
}

.phone_text3_2 {
    color: #464646;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: start;
    width: 83%;
}

.headphone1 {
    margin-left: auto;
    width: 39%;
}

.headphone {
    width: 93%;
    margin-left: auto;
}

.phones_bg2 {
    background-image: url(../img/background_phones_2.png);
    background-size: 80.6%;
}

.phone_text1_3 {
    color: #8257A6;
}

.phone_text3_3 {
    text-align: end !important;
}

.phones_bg3 {
    background-image: url(../img/background_phones_3.png);
    background-size: 80.6%;
}

.phones_bg4 {
    background-image: url(../img/background_phones_4.png);
    background-size: 80.6%;
}

.phone_text1_5 {
    color: #BDCF49;
}

.phones_bg5 {
    background-image: url(../img/background_phones_5.png);
    background-size: 80.6%;
    margin-top: 2%;
}

.phones_text_6 {
    color: #8258A6;
}

.phones_text3_6 {
    text-align: start;
}

.phones_bg6 {
    background-image: url(../img/background_phones_6.png);
    background-size: 80.6%;
}

.phones_bg7 {
    background-image: url(../img/background_phones_7.png);
    background-size: 80.6%;
}

.phones_bg8 {
    background-image: url(../img/background_phones_8.png);
    background-size: 80.6%;
}

.phones_bg9 {
    background-image: url(../img/background_phones_9.png);
    background-size: 80.6%;
}

.phones_text1_6 {
    color: #526DB4;
}

.phones_text1_9 {
    color:#DE7C33;
}
.last_section {
    background-image: linear-gradient(#fff 80%, #B8D137 20%);
}

.last_minds {
    width: 100%;
    transform: translate(-11%, 65%);
}

.last_minds_cont {
    width: 30.02%;
}

.last_girl {
    bottom: 0;
    width: 40.15%;
}

.last_minds_text {
    font-family: Poppins;
    font-size: 2.5vw;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -2%;
}

.last_section_text {
    width: 75%;
    font-size: 1.666vw;
    margin-bottom: 0;
    color: #fff;
    padding-bottom: 4%;
}

.last_phones {
    width: 72.08%;
    margin-left: 5%;
    margin-bottom: 2%;
}
.footer {
    background-color: #526DB4;
    padding-bottom: 20px;
}

.footer_logo {
    margin-left: 5%;
    margin-top: 3%;
}

.footer_links {
    text-align: end;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.footer_links:hover {
    color: black;
}

.following {
    max-width: 400px;
}

.footer_text {
    font-size: 24px;
    white-space: nowrap;
    margin: 1rem;
}
@media (max-width:992px) {
    .progress {
        display: flex;
    }
    .links {
        display: none;
    }
    .header_logo {
        margin-left: 5%;
        width: 80%;
    }
    .footer_logo{
        margin-left: -1%;
    }
    .footer_links {
        display: flex;
        flex-direction: column;
        text-align: left !important;
        margin-top: 1%;
    }
    .p_follow_us {
        justify-content: flex-start !important;
        padding-left: 3%;
    }
    .footer_text {
        margin-left: -1%;
        margin-top: 3%;
    }
    .follow_us_group {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    .phones_1 {
        display: none;
    }
    .first_minds{
        margin-right: 28%;
    }
    .download_cont {
        display: none !important;
    }
    .first_mobile_phones {
        display: flex !important;
        width: 55%;
        margin-top: 26%;
        margin-bottom: -10%;
        margin-right: -13%;
        z-index: 99;
    }
    .first_girl {
        position: absolute;
        left: 0%;
        height: 95%;
        bottom: 0;
    }

    .first_minds {
        width: 55%;
        margin-top: -36%;
        margin-right: -35%;
    }
    .download_mobile {
        display: flex !important;
        padding: 10%;
        padding-bottom:0;
    }
    .right_section_p {
        font-size: 18px;
    }
    .left_section {
        display: none !important;
    }
    .second_mobile {
        display: flex !important;
        flex-direction: column;
    }
    .third_section {
        padding: 0;
        margin: 0;
        background-image: linear-gradient(#fff 34%, #8258A6 30%);
    }
    .second_mobile_phones {
        display: flex !important;
    }
    .second_mobile_phone {
        width: 84%;
        margin-top: 66%;
        height: 57%;
    }
    .right_section1 {
        display: none !important;
    }
    .mobile_4 {
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .phone_center {
        width: 26%;
    }
    .fourth_section {
        margin-top: -3%;
        padding: 0;
    }
    .second_mobile_text {
        display: flex !important;
        font-size: 18px;
    }
    .five_text {
        font-size: 20px;
        padding: 3%;
    }
    .english_bento_cont {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .english_bento_logo2 {
        margin-left: 10px;
        padding: 2%;
    }
    .six_text {
        font-size: 5.5vw;
    }
    .six_text2 {
        text-align: start !important;
        width: 100%;
    }
    .girls_mobile_list {
        display: flex !important;
        max-width: 992px;
    }
    .girls_list {
        display: none;
    }
    .four_girl {
        width: 60%;
    }
    .minds_cont {
        width:30%;
    }
    .phones_section_p {
        font-size: 18px;
        line-height: 27px;
        width: 93%;
    }
    .phones_section {
        background-image: none;
    }
    .phones_section > div {
        flex-direction: column-reverse;
    }
    .headphone_p_mobile {
        flex-direction: row-reverse !important;
    }
    .phones_bg {
        width: 53.7%;
        margin-right: -21%;
        background-size: 100%;
    }
    .img_container {
        width: 85%;
        transform: translate(-67%, 0);
    }
    .headphone, .headphone1 {
        width: 68px;
        height: 72px;
    }
    .five_text {
        font-size: 20px;
        padding: 3%;
    }
    .phone_text3 {
        width: 100%;
        font-size: 18px;
    }
    .phone_text2 {
        display: none;
    }
    .phone_text1 {
        white-space: nowrap;
        font-size: 20px;
        padding: 3%;
        margin-top: -4%;
    }
    .second_mobile {
        flex-direction: column !important;
    }
    .img_container2 {
        width: 85%;
    }
    .vector {
        display: none;
    }
    .phones_bg2 {
        margin-right: 12%;
    }
    .second_mobile_none_text {
        display: none;
    }
    .second_down_section {
        width: 100%;
        padding: 3rem;
    }
    .headphone_p_mobile1 {
        flex-direction: row !important;
    }
    .headphone_second_mobile{
        height: 72px;
    }
    .phone_text3_2 {
        width: 100%;
    }
    .phone_text1_4 {
        color:#DE7C33;
        font-size: 20px;
    }
    .phone_text1_2 {
        font-size: 20px;
    }
    .last_section_text {
        display: none;
    }
    .last_minds {
        width: 100%;
        transform: translate(-25%, 7%);
    }
    .last_minds_text {
        margin-top: 0;
    }
    .last_section {
        background-image: linear-gradient(#fff 20%, #B8D137 19%);
    }
    .last_phones {
        width: 100%;
        margin-left: 0%;
        margin-bottom: 2%;
    }
    .phones_1_english {
        display: none;
    }
    .english_first_minds {
        margin-left: 72%;
        width: 100%;
        margin-top: -41%;
    }
    .minds_text1 {
        margin-bottom: 3%;
    }
    .english_minds_text {
        transform: translate(71%, -181%);
    }
}